/* App.css */

.App {
    width: 100vw;
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.forms-container {
    flex: 1;
    margin-right: 20px;
    max-height: 1000px;
    overflow-y: scroll;
  }

.resume-container {
flex: 1;
margin-left: 20px;
border: 1px solid #ccc;
border-radius: 8px;
padding: 0 20px;
}
